/* ?룿?듃 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* ?쟾泥? ?뒪????씪 */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fffff5;
  margin: 0;
  padding: 0;
  color: #333;
  position: relative;
  z-index: 1;
}

/* ?뿤?뜑 */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-login {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  border-radius: 25px;
  text-decoration: none;
  transition: transform 0.2s, background-color 0.2s;
  pointer-events: auto; /* 클릭 가능하도록 설정 */
}

.admin-login:hover {
  background-color: #3c853f;
  transform: scale(1.1);
}

.admin-login:active {
  background-color: #3c6b3e;
  transform: scale(0.95);
}

/* 硫붿씤 */
main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}

.service-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 1rem;
  max-width: 300px;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
}

.service:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.service i {
  font-size: 3rem;
  color: #333;
  margin-bottom: 1rem;
}

.service h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.service p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.learn-more {
  display: block;
  text-align: center;
  margin-top: 2rem;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: all 0.3s ease;
}

.learn-more:hover {
  color: #666;
}

/* ?뫖?꽣 */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* 諛곌꼍 */
.pill-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('pill-silhouette.png'); /* ?뿬湲곗뿉 ?븣?빟 ?떎猷⑥뿣 ?씠誘몄?? ?뙆?씪 寃쎈줈瑜? ?꽔?쑝?꽭?슂 */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  opacity: 0.1;
  z-index: -1;
}

/* 諛섏쓳?삎 ?뵒?옄?씤 */
@media (max-width: 768px) {
  .service {
    max-width: 100%;
  }
}
